<div class="content-container p-6 bg-white shadow-lg rounded-lg">
    <header class="flex flex-col items-center mb-4">
      <h1 class="text-3xl font-bold text-gray-900 text-center">Other Component</h1>
      <p class="text-gray-600 mt-2 text-center">Other Component</p>
      <h1 class="text-3xl font-bold text-gray-900 text-center">Other Component</h1>
      <p class="text-gray-600 mt-2 text-center">Other Component</p>
      <h1 class="text-3xl font-bold text-gray-900 text-center">Other Component</h1>
      <p class="text-gray-600 mt-2 text-center">Other Component</p>
      <h1 class="text-3xl font-bold text-gray-900 text-center">Other Component</h1>
      <p class="text-gray-600 mt-2 text-center">Other Component</p>
      <h1 class="text-3xl font-bold text-gray-900 text-center">Other Component</h1>
      <p class="text-gray-600 mt-2 text-center">Other Component</p>
      <h1 class="text-3xl font-bold text-gray-900 text-center">Other Component</h1>
      <p class="text-gray-600 mt-2 text-center">Other Component</p>
      <h1 class="text-3xl font-bold text-gray-900 text-center">Other Component</h1>
      <p class="text-gray-600 mt-2 text-center">Other Component</p>
      <h1 class="text-3xl font-bold text-gray-900 text-center">Other Component</h1>
      <p class="text-gray-600 mt-2 text-center">Other Component</p>
    </header>
</div>
  